# Load and prepare data
**Objective**: Load news and tweets data from raw file into sqlite3 db.

# Roadmap
1. Copy raw data file to DATA_DIR, unzip and check format.
2. Create db. Build tables for news and tweets.
3. Bulk load news and tweets data into db.
4. Check basic statistics.
4. Build df pickles for news and tweets over selected period

# Steps

In [1]:
"""
Initialization
"""

'''
Standard modules
'''
import os
import sqlite3
import csv
from pprint import pprint

'''
Analysis modules
'''
import pandas as pd

'''
Custom modules
'''
import config
import utilities

'''
Misc
'''
nb_name = '20171002-daheng-load_and_prepare_data'

## Copy raw data file to DATA_DIR, unzip and check format

Raw data are located inside raw-news_tweets-meng/ folder in DATA_DIR.

In [9]:
! ls -1 ./data/raw-news_tweets-meng/

dataset1
dataset2
readme.txt
volume.txt

In [10]:
! ls -1 ./data/raw-news_tweets-meng/dataset1

news.txt
tweets.txt

### Check format of news data:

In [12]:
! head -2 ./data/raw-news_tweets-meng/dataset1/news.txt

POST_TIME	NEWS_SOURCE	NEWS_TITLE	NEWS_DOC
2014-11-18 00:03:28	Times of India	India sixth worst affected country by terrorism in 2013: Report	LONDON: India was the sixth worst affected country by terrorism in 2013 — the other five being war zones at present. :::::::::::::::: As many as 43 different terrorist groups categorized into three groups: Islamists, separatists and communists have been found to have planned and carried out attacks in India. :::::::::::::::: The world witnessed 10,000 terrorist attacks in 2013, a 44% increase from the previous year. India, however, witnessed a much higher increase of terrorist attacks during the same period — while terrorism increased by 70% in India from 2012 to 2013, the number of deaths increased from 238 to 404. :::::::::::::::: Globally, the number of deaths from terrorism increased by 61%, according to the Global Terrorism Index 2014. :::::::::::::::: The report says that in India, there remains significant terrorist activity, including on the border between India and Pakistan. :::::::::::::::: Over 80% of the deaths from terrorist incidents in 2013 were recorded in just five countries: Iraq, Afghanistan, Pakistan, Nigeria and Syria. :::::::::::::::: On a scale of 1 (lowest impact of terrorism) to 10 (highest risk of terrorism) — Iraq which has emerged as the world's worst affected country with terrorism is the only entry with a score of 10. :::::::::::::::: India which is ranked sixth has a score of 7.86. :::::::::::::::: The largest year-on-year increase in deaths from terrorism was recorded between 2012 and 2013 increasing from 11,133 to 17,958. :::::::::::::::: As many as 87 countries experienced a terrorist incident in 2013, slightly up from 81 in 2012. :::::::::::::::: The number of countries experiencing over 50 deaths in one year hit an all-time high in 2013 at 24, five greater than the previous high of 19 countries in 2008. :::::::::::::::: The Global Index said about India — "The number of attacks also increased, with 55 more attacks in 2013 than 2012. However, the majority of terrorist attacks in India have low casualties. In 2013 around 70% of attacks were non-lethal. Communist terrorist groups are by far the most frequent perpetrators and the main cause of deaths in India. Three Maoist communist groups claimed responsibility for 192 deaths in 2013, which was nearly half of all deaths from terrorism in India. Police are overwhelmingly the biggest targets of Maoists, accounting for half of all deaths and injuries. This is mainly through armed assaults, which killed 85, and bombings and explosions, which killed 43". :::::::::::::::: The dispute with Pakistan over Jammu & Kashmir is the source of Islamic terrorism in India, according to the report. In 2013, three Islamist groups were responsible for around 15% of deaths in India. This includes Hizbul Mujahideen which was the only group in India to use suicide tactics in 2013. :::::::::::::::: "Islamist groups in India commonly use armed assaults targeting the police or bombings targeting private citizens. The majority of attacks occur in Hyderabad and Jammu & Kashmir. In September 2014, al-Qaida announced its presence in India, hoping to unite other Islamist groups," the report says. :::::::::::::::: Globally, four terrorist groups — al-Qaida, Boko Haram, IS and the Taliban were responsible for 66% of all deaths from terrorist attacks in 2013 in which the perpetrator is known. :::::::::::::::: Deaths from other groups operating in Pakistan, Syria, Somalia, India and Kenya, account for a further 21% of deaths in the same year. Prominent groups operating in these countries include the Al-Nusrah Front in Syria, Al-Shabaab in Somalia and Kenya, Lashkar-e-Jhangvi in Pakistan and Maoists in India. :::::::::::::::: In total there have been over 48,000 terrorist incidents over the last 14 years claiming over 1,07,000 lives. Terrorism has increased dramatically with even conservative estimates suggesting a fivefold surge since the year 2000. :::::::::::::::: In 2013 alone, almost 10,000 terrorist incidents were recorded, resulting in approximately 18,000 deaths. The significant majority of these incidents, over 60%, occurred in Iraq, Afghanistan, Pakistan, Nigeria and Syria. The increase is due mainly to terrorist activity within these five countries. As a consequence, these countries have experienced a dramatic increase in the loss of life in 2013 with fatalities reaching 14,722 collectively. :::::::::::::::: Excluding these five countries in 2013, there were almost 4,000 attacks in the rest of the world killing 3,236 people. This represents an increase of 54% over the prior year. :::::::::::::::: Other than the five most affected countries, the trend over the last 14 years is upward with terrorist attacks substantially increasing by 180%. :::::::::::::::: Furthermore, terrorists are largely successful in carrying out their tactical objectives. :::::::::::::::: In 2013 the success rate was over 85%. The rise in terrorist activity coincided with the US invasion of Iraq. This created large power vacuums in the country allowing different factions to surface and become violent. :::::::::::::::: Steve Killelea, executive chairman of Institute for Economics and Peace (IEP) said, "Terrorism doesn't arise on its own; by identifying the factors associated with it, policies can be implemented to improve the underlying environment that nurtures terrorism. The most significant actions that can be taken are to reduce state-sponsored violence such as extra-judicial killings, reduce group grievances and hostilities, and improve effective and community-supported policing." :::::::::::::::: The report also sources both high and low estimates of foreign fighters who are actively fighting in Syria, utilizing the best available data. :::::::::::::::: The low estimations for number of fighters from Europe are 396, with the high estimates at 1,846. :::::::::::::::: The two most successful strategies for ending terrorist groups since the late 1960s have been either policing or the initiation of a political process; 80% of organizations that ceased operations ended this way. Only 10% of terrorist organizations ended due to having achieved their goals, while 7% were eliminated by full military engagement. :::::::::::::::: Terrorism in Pakistan meanwhile, has been found to be strongly influenced by its proximity to Afghanistan with most attacks occurring near the border involving the Taliban. Like in Afghanistan, terrorism increased significantly in Pakistan in 2013, with a 37% increase in deaths and 28% increase in injuries since 2012. Nearly half of all attacks had no groups that have claimed responsibility. The deadliest group in Pakistan in 2013, responsible for almost a quarter of all deaths and 49% of all claimed attacks, is Tehrik-i-Taliban Pakistan (TTP), the Pakistani Taliban. :::::::::::::::: The report says that terrorism in Pakistan has a diverse array of actors. In 2013, there were 23 different terrorist groups, down from 29 groups in 2012. However, 11 groups account for the majority of the 270 claimed attacks. :::::::::::::::: Over 60% of fatalities in Pakistan were from bombings and explosions and around 26% from firearms. A quarter of targets and deaths were against private citizens, with police accounting for 20% of targets and deaths. The deadliest attacks were against religious figures and institutions which, on average, killed over five people and injured over 11 per attack. In 2013, there were 71 suicide attacks responsible for around 2,740 casualties. :::::::::::::::: More than 500 cities in Pakistan had at least one terrorist incident in 2013, with two or more incidents occurring in 180 cities. Of all attacks, 16% occurred in the largest city of Karachi. ::::::::::::::::The figures::::::::::::::::: * The number of lives lost to terrorist attacks increased by 61% in a single year rising from 11,133 in 2012 to 17,958 in 2013. :::::::::::::::: * There was a 44% increase in the number of terrorist incidents, rising from 6,825 in 2012 to 9,814 in 2013. :::::::::::::::: * Explosives accounted for the majority of these attacks, while suicide bombings accounted for less than 5%. :::::::::::::::: * Over 80% of the deaths from terrorist attacks in 2013 were in just five countries: Iraq, Afghanistan, Pakistan, Nigeria and Syria. :::::::::::::::: * Iraq continues to be the country most impacted by terrorism with 2,492 attacks killing 6,362 people, which represents a 164% increase from 2012. IS was responsible for most of the deaths in the country. :::::::::::::::: * In 2013, there were 3,721 attacks recorded in the rest of the world killing 3,236 people, an increase of over 50%. :::::::::::::::: * A total of 60 countries recorded deaths from terrorist attacks in 2013. :::::::::::::::: * Since 2000, around 7% of all terrorist incidents and 5% of all fatalities have occurred in OECD countries resulting in 4,861 deaths from 3,151 attacks. :::::::::::::::: * OECD-based terrorism in 2013 was slightly down from 130 deaths and 333 incidents in 2012 to 113 deaths and 311 incidents in 2013. :::::::::::::::: * There were almost 10,000 terrorist attacks recorded in 2013 representing a 44% increase on 2012, resulting in nearly 18,000 deaths representing a 61% increase from the previous year. :::::::::::::::: * 24 countries experienced more than 50 deaths in 2013, increasing 60% from 15 in 2012. :::::::::::::::: * Terrorism in 2013 was dominated by four organizations — IS, Boko Haram, al-Qaida and the Taliban, collectively responsible for 66% of all fatalities.

### Check format of tweets data:

In [14]:
! head -5 ./data/raw-news_tweets-meng/dataset1/tweets.txt

POST_TIME	TWEET_TEXT
2014-11-10 08:47:19	x + 'Suicide car bomber kills three foreign troops in Afghan capital ...
2014-11-10 14:47:37	x + 'Suicide car bomber kills 3 foreign troops in Afghan capital ...
2014-11-10 15:48:21	Suicide Attack At Cafe In Iraqi Capital Kills 12
2014-11-11 04:44:54	@AlphaTwat yes! 52 at 630am and by 730 it was 18 with blowing snowstorms! This part of the world is crazy.

## Create db. Build tables for news and tweets.

### Define DDL scripts to create db, table schema for news, and table schema for tweets

In [ ]:
"""
Register
    NEWS_TWEETS_DDL_FILE = os.path.join(DATA_DIR, 'news_tweets-meng.schema.sql')
in config.
"""

In [16]:
! cat ./data/news_tweets-meng.schema.sql

-- news_tweets-meng.schema.sql

-- Schema for news and tweets data

-- News table
create table news (
    news_id integer primary key autoincrement not null,
    post_time datetime,
    news_source text,
    news_title text,
    news_doc text
);

-- Tweets table
create table tweets (
    tweet_id integer primary key autoincrement not null,
    post_time datetime,
    tweet_text text
);

### Build db and talbes

In [2]:
"""
Register 
    NEWS_TWEETS_DB = os.path.join(DATA_DIR, 'news_tweets-meng.db')
in config.
"""
def check_db():
    db_exists = os.path.exists(config.NEWS_TWEETS_DB_FILE)
    
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        if not db_exists:
            print('No db exists. Creating new db and tables...')
            with open(config.NEWS_TWEETS_DDL_FILE, 'r') as f:
                schema = f.read()
                conn.executescript(schema)
        else:
            print('db already exists!')

In [3]:
if 1 == 1:
    check_db()

db already exists!

### Bulk load news and tweets into db

In [7]:
%%time
"""
News data

Note: should be executed two times
 - data/raw-news_tweets-meng/dataset1/news.txt
 - data/raw-news_tweets-meng/dataset2/news.txt
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        with open(os.path.join(config.DATA_DIR, 'raw-news_tweets-meng/dataset2/news.txt'), 'r') as f:
            news_df_chunksize = 10000
            for df_chunk in pd.read_csv(f, sep='\t', chunksize=news_df_chunksize, iterator=True):
                column_names = {
                    'POST_TIME': 'post_time',
                    'NEWS_SOURCE': 'news_source',
                    'NEWS_TITLE': 'news_title',
                    'NEWS_DOC': 'news_doc'
                }
                df_chunk = df_chunk.rename(columns=column_names)
                df_chunk.to_sql(name='news', con=conn, if_exists='append', index=False)

CPU times: user 1.38 s, sys: 368 ms, total: 1.75 s
Wall time: 3.32 s

In [5]:
%%time
"""
Tweets data

Note: should be executed two times
 - data/raw-news_tweets-meng/dataset1/tweets.txt
 - data/raw-news_tweets-meng/dataset2/tweets.txt
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        with open(os.path.join(config.DATA_DIR, 'raw-news_tweets-meng/dataset2/tweets.txt'), 'r') as f:
            tweets_df_chunksize = 100000
            for df_chunk in pd.read_csv(f, sep='\t', chunksize=tweets_df_chunksize, iterator=True):
                column_names = {
                    'POST_TIME': 'post_time',
                    'TWEET_TEXT': 'tweet_text'
                }
                df_chunk = df_chunk.rename(columns=column_names)
                df_chunk.to_sql(name='tweets', con=conn, if_exists='append', index=False)

CPU times: user 22.2 s, sys: 1.9 s, total: 24.1 s
Wall time: 29.6 s

In [16]:
%%time
"""
Tweets table is too large. Build index on post_time field.
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        cursor = conn.cursor()
        query = '''
        create index tweets_post_time on tweets(post_time);
        '''
        cursor.execute(query)

CPU times: user 1min 3s, sys: 9.23 s, total: 1min 12s
Wall time: 1min 23s

In [3]:
"""
List out tables and indices
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        cursor = conn.cursor()
        query = """
        select name from sqlite_master
        where type = 'table';
        """
        cursor.execute(query)
        print('TABLES:')
        print(cursor.fetchall())
        
        query = """
        select name from sqlite_master
        where type = 'index'
        """
        cursor.execute(query)
        print('INDICES:')
        print(cursor.fetchall())

TABLES:
[('news',), ('sqlite_sequence',), ('tweets',)]
INDICES:
[('tweets_post_time',)]

### Check basic statistics

In [2]:
"""
Check number of news per day
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        conn.row_factory = sqlite3.Row
        cursor = conn.cursor()
        
        query = '''
        select date(post_time) as news_date, count(news_id) as news_num
        from news
        group by date(post_time);
        '''
        
        cursor.execute(query)
        for row in cursor.fetchall():
            print('{}: {}'.format(row['news_date'], row['news_num']))

2014-11-18: 290
2014-11-19: 267
2014-11-20: 320
2014-11-21: 293
2014-11-22: 260
2014-11-23: 275
2014-11-24: 274
2014-11-25: 323
2014-11-26: 307
2014-11-27: 287
2014-11-28: 291
2014-11-29: 250
2014-11-30: 263
2014-12-01: 323
2014-12-02: 291
2014-12-03: 293
2014-12-04: 283
2014-12-05: 288
2014-12-06: 233
2014-12-07: 262
2014-12-08: 292
2014-12-09: 272
2014-12-10: 284
2014-12-11: 284
2014-12-12: 254
2014-12-13: 231
2014-12-14: 149
2014-12-16: 47
2014-12-17: 313
2014-12-18: 51
2014-12-19: 301
2014-12-20: 248
2014-12-21: 268
2014-12-22: 293
2014-12-23: 282
2014-12-24: 287
2014-12-25: 261
2014-12-26: 269
2014-12-27: 253
2014-12-28: 265
2014-12-29: 263
2014-12-30: 69
2014-12-31: 55
2015-01-01: 271
2015-01-02: 282
2015-01-03: 254
2015-01-04: 243
2015-01-05: 262
2015-01-06: 311
2015-01-07: 269
2015-01-08: 275
2015-01-09: 296
2015-01-10: 257
2015-01-11: 282
2015-01-12: 276
2015-01-13: 299
2015-01-14: 311
2015-01-15: 280
2015-01-16: 303
2015-01-17: 248
2015-01-18: 258
2015-01-19: 295
2015-01-20: 274
2015-01-21: 287
2015-01-22: 277
2015-01-23: 144
2015-01-24: 258
2015-01-25: 280
2015-01-26: 214
2015-01-27: 43
2015-01-28: 153
2015-01-29: 295
2015-01-30: 291
2015-01-31: 290
2015-02-01: 272
2015-02-02: 302
2015-02-03: 306
2015-02-04: 290
2015-02-05: 281
2015-02-06: 267
2015-02-07: 283
2015-02-08: 268
2015-02-09: 300
2015-02-10: 305
2015-02-11: 274
2015-02-12: 279
2015-02-13: 280
2015-02-14: 243
2015-02-15: 270
2015-02-16: 275
2015-02-17: 287
2015-02-18: 316
2015-02-19: 295
2015-02-20: 300
2015-02-21: 256
2015-02-22: 251
2015-02-23: 326
2015-02-24: 312
2015-02-25: 324
2015-02-26: 305
2015-02-27: 280
2015-02-28: 253
2015-03-01: 273
2015-03-02: 297
2015-03-03: 277
2015-03-04: 274
2015-03-05: 281
2015-03-06: 286
2015-03-07: 279
2015-03-08: 244
2015-03-09: 304
2015-03-10: 287
2015-03-11: 287
2015-03-12: 318
2015-03-13: 304
2015-03-14: 257
2015-03-15: 273
2015-03-16: 309
2015-03-17: 306
2015-03-18: 301
2015-03-19: 298
2015-03-20: 283
2015-03-21: 242
2015-03-22: 31
2015-03-29: 305
2015-03-30: 320
2015-03-31: 313
2015-04-01: 320
2015-04-02: 297
2015-04-03: 292
2015-04-04: 284
2015-04-05: 286
2015-04-06: 315
2015-04-07: 323
2015-04-08: 328
2015-04-09: 298
2015-04-10: 299
2015-04-11: 289
2015-04-12: 299
2015-04-13: 307
2015-04-14: 315
2015-04-15: 309
2015-04-16: 309
2015-04-17: 295
2015-04-18: 276
2015-04-19: 284
2015-04-20: 294
2015-04-21: 294
2015-04-22: 316
2015-04-23: 326
2015-04-24: 312
2015-04-25: 254
2015-04-26: 278
2015-04-27: 312
2015-04-28: 347
2015-04-29: 334
2015-04-30: 284
2015-05-01: 236
2015-05-02: 224
2015-05-03: 245
2015-05-04: 264
2015-05-05: 106
2015-05-06: 246
2015-05-07: 248
2015-05-08: 229
2015-05-09: 219
2015-05-10: 236
2015-05-11: 264
2015-05-12: 239
2015-05-13: 257
2015-05-14: 230
2015-05-15: 209
2015-05-16: 208
2015-05-17: 242
2015-05-18: 232
2015-05-19: 243
2015-05-20: 246
2015-05-21: 257
2015-05-22: 238
2015-05-23: 212
2015-05-24: 198
2015-05-25: 254
2015-05-26: 245
2015-05-27: 245
2015-05-28: 270
2015-05-29: 214
2015-05-30: 179
2015-05-31: 193
2015-06-01: 228
2015-06-02: 242
2015-06-03: 226
2015-06-04: 219
2015-06-05: 169
2015-09-07: 49
2015-09-08: 227
2015-09-09: 251
2015-09-10: 236
2015-09-11: 226
2015-09-12: 208
2015-09-13: 195
2015-09-14: 225
2015-09-15: 241
2015-09-16: 221
2015-09-17: 254
2015-09-18: 181
2015-09-19: 142
2015-09-20: 188
2015-09-21: 86
2015-09-30: 15
2015-10-01: 170
2015-11-13: 23
2015-11-14: 199
2015-11-15: 162
2015-11-16: 218
2015-11-17: 183
2015-11-18: 162
2015-11-19: 152
2015-11-20: 182
2015-11-21: 137
2015-11-22: 168
2015-11-23: 139
2015-11-24: 172
2015-11-25: 159
2015-11-26: 149
2015-11-27: 130
2015-11-28: 143
2015-11-29: 137
2015-11-30: 148
2015-12-01: 134
2015-12-03: 74
2015-12-04: 179
2015-12-05: 149
2015-12-06: 164
2015-12-07: 161
2015-12-08: 159
2015-12-09: 186
2015-12-10: 109
2016-01-06: 115
2016-01-07: 91
2016-01-08: 119
2016-01-09: 106
2016-01-10: 98
2016-01-11: 108
2016-01-12: 125
2016-01-13: 113
2016-01-14: 105
2016-01-15: 90
2016-01-16: 114
2016-01-17: 117
2016-01-18: 91
2016-01-19: 133
2016-01-20: 107
2016-01-21: 110
2016-01-22: 131
2016-01-23: 111
2016-01-24: 115
2016-01-25: 93
2016-01-26: 124
2016-01-27: 122
2016-01-28: 126
2016-01-29: 150
2016-01-30: 129
2016-01-31: 110
2016-02-01: 116
2016-02-02: 107
2016-02-03: 126
2016-02-04: 112
2016-02-05: 131
2016-02-06: 115
2016-02-07: 118
2016-02-08: 128
2016-02-09: 140
2016-02-10: 154
2016-02-11: 132
2016-02-12: 162
2016-02-13: 116
2016-02-14: 128
2016-02-15: 150
2016-02-16: 145
2016-02-17: 89
2016-02-18: 115
2016-02-19: 58

In [25]:
%%time
"""
Check number of tweets per day

Note: date(post_time) function is really slow. Only aggregate on a small subset of tweets data.
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        conn.row_factory = sqlite3.Row
        cursor = conn.cursor()
        
        query = """
        select date(post_time) as tweet_date, count(tweet_id) as tweets_num
        from tweets
        where post_time between '2014-11-10' and '2014-11-22'
        group by date(post_time);
        """
        
        cursor.execute(query)
        for row in cursor.fetchall():
            print('{}: {}'.format(row['tweet_date'], row['tweets_num']))

2014-11-10: 3
2014-11-11: 8
2014-11-12: 7
2014-11-13: 12
2014-11-14: 10
2014-11-15: 12
2014-11-16: 24
2014-11-17: 77
2014-11-18: 142824
2014-11-19: 287755
2014-11-20: 324073
2014-11-21: 275824
CPU times: user 1.52 s, sys: 80 ms, total: 1.6 s
Wall time: 1.59 s

### Build df pickles for news and tweets over selected period  
Select out news and tweets data from (3) dataset1: 2015-01-01 to 2015-03-21 according to readme.txt file of raw dataset

In [2]:
%%time
"""
Build pickle for news data over selected period.

Register
    NEWS_PERIOD_DF_PKL = os.path.join(DATA_DIR, 'news-period.df.pkl')
in config.
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        query = """
        select news_id, post_time, news_source, news_title, news_doc from news
        where post_time between '2015-01-01' and '2015-03-22';
        """
        
        news_period_df = pd.read_sql_query(sql=query,con=conn,parse_dates=['post_time'])
        
        news_period_df.to_pickle(config.NEWS_PERIOD_DF_PKL)

CPU times: user 568 ms, sys: 560 ms, total: 1.13 s
Wall time: 4.22 s

In [3]:
%%time
"""
Build pickle for tweets data over selected period.

Register
    TWEETS_PERIOD_DF_PKL = os.path.join(DATA_DIR, 'tweets-period.df.pkl')
in config.
"""
if 0 == 1:
    with sqlite3.connect(config.NEWS_TWEETS_DB_FILE) as conn:
        query = """
        select tweet_id, post_time, tweet_text from tweets
        where post_time between '2015-01-01' and '2015-03-22';
        """
        
        tweets_period_df = pd.read_sql_query(sql=query,con=conn,parse_dates=['post_time'])
        
        tweets_period_df.to_pickle(config.TWEETS_PERIOD_DF_PKL)

CPU times: user 2min 29s, sys: 26.4 s, total: 2min 56s
Wall time: 3min 29s

In [3]:
%%time
"""
Test recover df pickle
"""
if 1 == 1:
    news_period_df = pd.read_pickle(config.NEWS_PERIOD_DF_PKL)
    tweets_period_df = pd.read_pickle(config.TWEETS_PERIOD_DF_PKL)

CPU times: user 12.4 s, sys: 6.07 s, total: 18.5 s
Wall time: 31.7 s

In [4]:
news_period_df

,news_id,post_time,news_source,news_title,news_doc
0,10965,2015-01-01 00:03:09,CBS News,"Jeb Bush takes ""natural next step"" toward 2016...",Former Florida governor Jeb Bush (R-FL) addres...
1,10966,2015-01-01 00:03:26,CBC.ca,"Fireworks, parties and prayers usher in 2015",Revellers converged at Nathan Phillips Square ...
2,10967,2015-01-01 00:04:41,ABC News,2 Killed in Helicopter Crash in Southern Arizona,Two people were killed in a helicopter crash W...
3,10968,2015-01-01 00:04:41,The Guardian,Jeb Bush quits board posts ahead of possible W...,Potential Republican presidential candidate Je...
4,10969,2015-01-01 00:06:16,NOLA.com,North Korea's Kim Jong Un to South Korean lead...,"PYONGYANG, North Korea -- North Korean leader ..."
5,10970,2015-01-01 00:08:39,Philly.com,Western states get brutal blast of winter,Ryan Winn bundles up son Ian as they wait for ...
6,10971,2015-01-01 00:09:14,Ynetnews,Abbas paves way to join International Criminal...,Following the Palestinian defeat at the UN Sec...
7,10972,2015-01-01 00:12:44,Washington Post,A look at Egypt's Al-Jazeera English trial,CAIRO — Here is a look at the major events in ...
8,10973,2015-01-01 00:16:27,ABC News,"Storm Brings Snow, Cold to West for New Year's",Bundled-up revelers planning to usher in 2015 ...
9,10974,2015-01-01 00:17:17,MiamiHerald.com,"Storm brings snow, cold to West for New Year's",Bundled-up revelers planning to usher in 2015 ...
10,10975,2015-01-01 00:18:53,Fox News,A look at the trial of 3 Al-Jazeera English jo...,Here is a look at the major events in the arre...
11,10976,2015-01-01 00:20:21,seattlepi.com,"Storm brings snow, cold to West for New Year's",Bundled-up revelers planning to usher in 2015 ...
12,10977,2015-01-01 00:21:33,SFGate,"Storm brings snow, cold to West for New Year's",Bundled-up revelers planning to usher in 2015 ...
13,10978,2015-01-01 00:22:57,CBC.ca,"Mohamed Fahmy, Canadian imprisoned in Egypt, t...",An appeals court in Egypt has ordered a retria...
14,10979,2015-01-01 00:23:22,Charlotte Observer,North Korean leader open to summit with South,"PYONGYANG, North Korea North Korean leader Kim..."
15,10980,2015-01-01 00:23:22,Charlotte Observer,2 killed in helicopter crash in southern Arizona,"BENSON, Ariz. Two people were killed in a heli..."
16,10981,2015-01-01 00:28:13,Businessweek,Egypt court orders retrial in Al-Jazeera case,CAIRO (AP) — An Egyptian appeals court ordered...
17,10982,2015-01-01 00:43:40,The Denver Post,North Korean leader open to summit with South,"PYONGYANG, North Korea (AP) — North Korean lea..."
18,10983,2015-01-01 01:05:01,NBCNews.com,New Year's Stampede in Shanghai Prompts Anxiou...,SHANGHAI — People unable to contact friends an...
19,10984,2015-01-01 01:07:30,ABC News,AirAsia Flight 8501: Searchers Race 'Against T...,The page you've requested either does not exis...
20,10985,2015-01-01 01:07:55,RadioFreeEurope/RadioLiberty,20 Killed At Afghan Wedding Party,A rocket fired amid fighting between Taliban i...
21,10986,2015-01-01 01:17:01,Reuters,N.Korea leader Kim Jong Un says open to summit...,North Korean leader Kim Jong Un guides the mul...
22,10987,2015-01-01 01:25:08,CNN,Witnesses describe terrifying scene at deadly ...,Hong Kong (CNN) -- Zuo Zhijian says the heavy ...
23,10988,2015-01-01 01:29:23,The Independent,Palestinian President Mahmoud Abbas signs up t...,"The move, taken a day after the failure of a P..."
24,10989,2015-01-01 01:29:59,Fox News,Jeb Bush resigns from remaining board membersh...,Jeb Bush is clearing a path for a 2016 preside...
25,10990,2015-01-01 01:36:40,Telegraph.co.uk,Kim Jong-un says open to 'highest-level' talks...,North Korean leader Kim Jong-un has said he is...
26,10991,2015-01-01 01:42:16,MiamiHerald.com,"Crystal ball drops in New York, ushering in 2015",A million people crammed into New York's Times...
27,10992,2015-01-01 01:46:14,IBNLive,50-60 terrorists waiting to enter J&K from Pak...,New Delhi:Terming the ceasefire violations by ...
28,10993,2015-01-01 01:46:53,Economic Times,FBI arrests suspect accused of shooting at Los...,LOS ANGELES: A second suspect has been arreste...
29,10994,2015-01-01 01:54:38,Idaho State Journal,Experts: Concealed weapons require vigilance: ...,Can you live in Idaho and not love potatoes? I...
...,...,...,...,...,...
22028,32993,2015-03-21 20:32:54,Telegraph.co.uk,Bobbi Kristina Brown moved to rehab centre,"Bobbi Kristina Brown, the daughter of late pop..."
22029,32994,2015-03-21 20:41:20,Fox News,US removes remaining personnel from Yemen,The U.S. has removed all remaining personnel f...
22030,32995,2015-03-21 20:42:12,Chronicle Bulletin,Feds investigating Rep. Aaron Schock's expendi...,WASHINGTON — The Justice Division is investiga...
22031,32996,2015-03-21 20:44:57,New York Post,Robert Durst's wife could testify against him ...,Authorities are building a criminal case again...
22032,32997,2015-03-21 20:45:41,Reuters,"Predators 3, Sabres 0","Predators 3, Sabres 0: Pekka Rinne posted his ..."
22033,32998,2015-03-21 20:56:22,Los Angeles Times,NCAA women: Princeton gets first tournament vi...,After trailing at halftime with President Obam...
22034,32999,2015-03-21 20:58:43,Concord Monitor,US sets first fracking rules since process fue...,The Obama administration issued the first fede...
22035,33000,2015-03-21 21:03:39,BBC News,Tunis museum attack: Footage shows gunmen in b...,Footage released by the Tunisian interior mini...
22036,33001,2015-03-21 21:14:10,STLtoday.com,Top seed Villanova falls to NC State,The rims seemed tight. So did Villanova.::::::...
22037,33002,2015-03-21 21:19:46,Houston Chronicle,Ted Cruz to announce presidential bid Monday,Senator will be first declared GOP candidate::...
22038,33003,2015-03-21 21:20:03,Huffington Post,7 Children Die In Brooklyn Fire As Mother Plea...,None
22039,33004,2015-03-21 21:20:32,The Week Magazine,Drillers file lawsuit after Obama administrati...,Even though new standards regulating hydraulic...
22040,33005,2015-03-21 21:24:40,Fox News,Suspect in New Orleans airport machete attack ...,The machete-wielding man who attacked two Tran...
22041,33006,2015-03-21 21:36:59,New York Times,Gonzaga Bears Down for Win After North Dakota ...,SEATTLE — Gonzaga began the game pressing Nort...
22042,33007,2015-03-21 21:40:45,Telegraph.co.uk,"Robert Durst lawyers: release him, you won't f...",Millionaire Robert Durst was illegally arreste...
22043,33008,2015-03-21 22:03:03,seattlepi.com,Off-duty officer posted booze photo before fat...,"LINDEN, N.J. (AP) — Police are investigating w..."
22044,33009,2015-03-21 22:36:46,Hindustan Times,"Total solar eclipse across Arctic, clouds mar ...",Thousands of people on Friday flocked to get a...
22045,33010,2015-03-21 22:44:03,New York Times,Dayton Upsets Providence in Front of Raucous O...,"COLUMBUS, Ohio — To earn a spot in the main po..."
22046,33011,2015-03-21 22:47:30,Fox News,Gonzaga holds off North Dakota State,"Seattle, WA (SportsNetwork.com) - Kyle Wiltjer..."
22047,33012,2015-03-21 22:56:06,NBCNews.com,"Dynel Catrece Lane, Craigslist Suspect Who Cut...",The Colorado woman accused of cutting open a s...
22048,33013,2015-03-21 23:08:43,Times Daily,Glitch triggers erroneous notices to Oregon cr...,Thank you for reading 10 free articles on our ...
22049,33014,2015-03-21 23:11:42,Thegardenisland.com,Glitch triggers erroneous notices to Oregon cr...,KGW-TV reports that one of those error message...
22050,33015,2015-03-21 23:20:36,News24,WATCH: 2015 Solar eclipse as seen from space,Cape Town - Thousands of people on Friday floc...
22051,33016,2015-03-21 23:24:25,ABC News,Just Like Home: Dayton Beats Providence 66-53 ...,Dayton never gets tired — of winning.::::::::D...
22052,33017,2015-03-21 23:27:14,USA TODAY,Judge orders release of military detainee abus...,NEW YORK (AP) — The U.S. must release photogra...
22053,33018,2015-03-21 23:27:46,Washington Post,"Dayton not at home this time, but might as wel...",Dayton’s Scoochie Smith (11) celebrates late i...
22054,33019,2015-03-21 23:44:19,Al-Bawaba,Yemen sinks deeper into chaos after Daesh clai...,"The site is currently under maintenance, we wi..."
22055,33020,2015-03-21 23:51:40,ABC Online,"Yemen mosque attacks kill 142, Islamic State c...","Multiple suicide bombings, claimed by the Isla..."
22056,33021,2015-03-21 23:53:02,Fox News,Aging US vets return to Iwo Jima for 70th anni...,Dozens of aging U.S. veterans gathered on the ...
22057,33022,2015-03-21 23:58:00,Chronicle Bulletin,AP News Glitch triggers erroneous notices to O...,"SALEM, Ore. (AP) — A ""main technical glitch"" i..."

In [5]:
news_period_df.dtypes

news_id                 int64
post_time      datetime64[ns]
news_source            object
news_title             object
news_doc               object
dtype: object

In [6]:
tweets_period_df

,tweet_id,post_time,tweet_text
0,14225824,2015-01-01 00:03:51,Stampede kills 35 and injures over 40 in New Y...
1,14225825,2015-01-01 00:04:57,good riddance Doug Marrone is no longer @buffa...
2,14225826,2015-01-01 00:04:59,Any real NFL team should aim higher than Kyle ...
3,14225827,2015-01-01 00:05:03,"“@Dan_Lyons76: Man, Doug Marrone has a spectac..."
4,14225828,2015-01-01 00:05:04,How is Doug Marrone better than Rex Ryan?
5,14225829,2015-01-01 00:05:04,Breaking: Buffalo Bills coach Doug Marrone opt...
6,14225830,2015-01-01 00:05:07,Fuck Doug Marrone. I hope he takes Hackett wit...
7,14225831,2015-01-01 00:05:09,You get rid of Rex Ryan for Doug Marrone?!? Lm...
8,14225832,2015-01-01 00:05:10,"Bills: Owner Terry Pegula says he's ""disappoin..."
9,14225833,2015-01-01 00:05:10,Jets: Team will have strong interest in ex-Bil...
10,14225834,2015-01-01 00:05:10,“@allyssa520: Doug Marrone ain't shit 😡👊✌️”
11,14225835,2015-01-01 00:05:11,"Oh god, i hope not. RT ""@JoeandEvan: Doug Marr..."
12,14225836,2015-01-01 00:05:17,Well Doug Marrone comes full circle as a compl...
13,14225837,2015-01-01 00:05:17,@BuckyBrooks @richeisen So Doug Marrone's agen...
14,14225838,2015-01-01 00:05:18,“@KiwiMutt: And now announcing your new Jets c...
15,14225839,2015-01-01 00:05:19,Doug Marrone must be targeting that University...
16,14225840,2015-01-01 00:05:21,"Few people are ""winning off the field"" more th..."
17,14225841,2015-01-01 00:05:23,@airjan23 you can have Doug Marrone!!! LOL
18,14225842,2015-01-01 00:05:30,How could Doug Marrone opt out of a 9-7 team a...
19,14225843,2015-01-01 00:05:34,😂 RT “@MMehtaNYDN: Jets source on possibility ...
20,14225844,2015-01-01 00:05:36,Doug Marrone pulled a G-Move on the Bills play...
21,14225845,2015-01-01 00:05:36,"@woodyjohnson4 Woody, we don't need Doug Marro..."
22,14225846,2015-01-01 00:05:37,Marrone was my least favorite #Bills coach eve...
23,14225847,2015-01-01 00:05:37,It wouldn't make sense to me to bring in a coa...
24,14225848,2015-01-01 00:05:39,Never shoulda let Doug Marrone watch The Secre...
25,14225849,2015-01-01 00:05:40,Really? Pretty underwhelming. RT @AdamSchefter...
26,14225850,2015-01-01 00:05:41,@Atlanta_Falcons - hire Doug Marrone and sign ...
27,14225851,2015-01-01 00:05:41,Could Doug Marrone be the next NY Jets head co...
28,14225852,2015-01-01 00:05:42,"To opt out of his contract after going 9-7, yo..."
29,14225853,2015-01-01 00:05:52,“@BartHubbuch: Why would Doug Marrone be an up...
...,...,...,...
26208735,40434559,2015-03-21 23:59:52,"Over/Under how many ""former Dallas Star, Brad ..."
26208736,40434560,2015-03-21 23:59:52,"Actually shaking with anger, just wait until I..."
26208737,40434561,2015-03-21 23:59:53,i really miss dean brown doing the play by pla...
26208738,40434562,2015-03-21 23:59:53,"In many cases, the addition of children brings..."
26208739,40434563,2015-03-21 23:59:53,"DAMN, so unfortunate, games getting closer and..."
26208740,40434564,2015-03-21 23:59:53,@Lillyroma1 I'm sure there are many who would ...
26208741,40434565,2015-03-21 23:59:53,I just saw my first flying insect of the year ...
26208742,40434566,2015-03-21 23:59:54,#RenewEyeCandy because so many boring and poin...
26208743,40434567,2015-03-21 23:59:54,@Perednia She didn't know how many were on dri...
26208744,40434568,2015-03-21 23:59:54,"Hey kool aid and frozen pizza, It's a work of ..."
26208745,40434569,2015-03-21 23:59:54,So many people annoy the fuck out of me😂😂
26208746,40434570,2015-03-21 23:59:54,@George_Fordy Well done today. Great game and...
26208747,40434571,2015-03-21 23:59:54,said many times before the turn of the year th...
26208748,40434572,2015-03-21 23:59:55,@netanyahu congratulations. I wish we had a le...
26208749,40434573,2015-03-21 23:59:55,@duchovlet @HannahSky @DAVID_LYNCH @Festival_C...
26208750,40434574,2015-03-21 23:59:55,There are entirely too many white people in Sa...
26208751,40434575,2015-03-21 23:59:55,“@MellowMeag: “@ImTrouble_Bye: I have to party...
26208752,40434576,2015-03-21 23:59:55,One Step Closer by Linkin Park is basically th...
26208753,40434577,2015-03-21 23:59:56,@shaek066 @AmareshMisraFC @riwired not as many...
26208754,40434578,2015-03-21 23:59:56,@RadMama88 If you're talking about the skinny ...
26208755,40434579,2015-03-21 23:59:57,"But I'm holding you closer than most, 'Cause ..."
26208756,40434580,2015-03-21 23:59:57,Obama says compensation for college athletes w...
26208757,40434581,2015-03-21 23:59:57,"@Lord_Chancellor it's almost finished, I think..."
26208758,40434582,2015-03-21 23:59:57,I just wanna see how many of wore the same exa...
26208759,40434583,2015-03-21 23:59:58,"nobel ceremony on NRK.no: obama gaunt, aged 20..."
26208760,40434584,2015-03-21 23:59:58,So many industry whores in the rap game and in...
26208761,40434585,2015-03-21 23:59:59,@Fffeisty @gosensgo101 How many fly by's have ...
26208762,40434586,2015-03-21 23:59:59,Is there a set number how many is allowed to d...
26208763,40434587,2015-03-21 23:59:59,I'm not sure if I own enough long-sleeve butto...
26208764,40434588,2015-03-21 23:59:59,'They hate us for our freedom' or 'They hate t...

In [7]:
tweets_period_df.dtypes

tweet_id               int64
post_time     datetime64[ns]
tweet_text            object
dtype: object